{% extends 'base.html.twig' %}

{% block title %}Suppression d'un jeu{% endblock %}

{% block body %}
    <h2>Confirmation de la suppression du jeu n°{{game.id}} : </h2>
    <ul class="list-group">
        <li class="list-group-item" >Titre: {{game.title}}</li>
        <li class="list-group-item">Joueurs Minimum: {{game.minPlayers}}</li>
        <li class="list-group-item">Joueurs Maximum: {{game.maxPlayers}}</li>
    </ul>

    <form method="POST">
      <div class="d-flex">
        <button type="submit" class="btn btn-primary">Confirmer</button>
        <a href="{{path('app_admin_game')}}" class="btn btn-danger">Annuler</a>
      </div>
    </form>
{% endblock %}